.venv/
__pycache__/
*.pyc
rustbpe/target/
dev-ignore/
report.md
eval_bundle/
*.txt
temp*
.env
launch/.env
learn.md
run_claude_at_0530.sh
experiment_d_temp/
.claude/
rope/
outsource_papers/
wandb_export/**/*.json
wandb_export/**/*.csv
wandb_export/**/*.md
table_script/results
wandb/
slurms/logs/
